<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzipp.pay.goods.blog.mapper.AccountlogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fzipp.pay.entity.Accountlog">
        <id column="alogId" property="alogId" />
        <result column="accountId" property="accountId" />
        <result column="loginTime" property="loginTime" />
        <result column="loginIp" property="loginIp" />
    </resultMap>

</mapper>
