<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzipp.pay.goods.blog.mapper.AccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fzipp.pay.entity.Account">
        <id column="accountId" property="accountId" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="idCard" property="idCard" />
        <result column="mail" property="mail" />
        <result column="status" property="status" />
        <result column="updatetime" property="updatetime" />
    </resultMap>

</mapper>
