<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzipp.pay.goods.blog.mapper.EwtypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fzipp.pay.entity.Ewtype">
        <id column="ewtypeId" property="ewtypeId" />
        <result column="name" property="name" />
        <result column="notes" property="notes" />
        <result column="status" property="status" />
        <result column="updatetime" property="updatetime" />
    </resultMap>

</mapper>
