<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzipp.pay.goods.blog.mapper.PositionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fzipp.pay.entity.Position">
        <id column="positionId" property="positionId" />
        <result column="deptId" property="deptId" />
        <result column="pname" property="pname" />
        <result column="notes" property="notes" />
        <result column="status" property="status" />
        <result column="updatetime" property="updatetime" />
    </resultMap>

</mapper>
